<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Rekordy</title>
</head>
<body>

<button id="button"> Wyswietl wynik </button>
<br><br>
<div id="text"></div>


<script>

    document.getElementById('button').addEventListener('click' , ladujWynik);

    function ladujWynik(){

    var xhr = new XMLHttpRequest();
    xhr.open('GET' , '/resources/test.txt' , true );

    xhr.onload = function(){
      if(this.status == 200){
      // console.log('lol')
      //console.log(this.responseText);
      document.getElementById('text').innerHTML = this.responseText;
      }
    }
    xhr.onerror = function (){
    console.log('wystapil blad');
    }
    xhr.send();
    }

</script>

</body>
</html>